arviz
beautifulsoup4
imageio
ipython
jupyterlab
matplotlib
nltk
numpy
pandas
plotly
pillow
pymc>=4.0
requests
scikit-learn
scipy
seaborn
statsmodels
tensorflow>=2.11
torch
tqdm
transformers
gap-stat
nbopen
otter-grader
tf_keras_vis
